$font-color:#333;
$active-color:#f60;

body {
  color: $font-color;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
