.container {
  width: 1280px;
  margin: 50px auto;
  .tab-wrapper {
    box-shadow: 0 0 5px #ddd;
    .nav {
      position: relative;
      height: 60px;
      border-bottom: 1px solid #ddd;
      .line {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100px;
        height: 0;
        border-bottom: 1px solid #f60;
        transition: left 0.3s;
      }
      .item {
        cursor: pointer;
        float: left;
        width: 100px;
        height: 100%;
        text-align: center;
        line-height: 60px;
        transition: color 0.3s;
        a {
            color: #f60;
        }
      }
    }
  }
}
